</main>

<footer>
	<ul class="contact">
		<li><a href="mailto:hello@thomasvanarkel.nl"><i class="fas fa-paper-plane"></i></a></li>
		<li><a href="https://nl.linkedin.com/in/thomas-van-arkel-01384468"><i class="fab fa-linkedin-in"></i></a></li>
		<li><a href="https://scholar.google.com/citations?user=22Gb8DgAAAAJ&hl=en"><i class="fa-brands fa-google-scholar"></i></a></li>
		<li><a href="https://www.researchgate.net/profile/Thomas-Van-Arkel"><i class="fa-brands fa-researchgate"></i></a></li>
		<li><a href="https://github.com/thvanarkel"><i class="fab fa-github"></i></a></li>
		<li><a href="https://vimeo.com/user43488666"><i class="fab fa-vimeo-v"></i></a></li>
	</ul>
	<p class="last-build"><i class="fas fa-redo"></i>Site build {{ now.Format "02.01.2006 at 15:04" }}</p>

</footer>

<script src="/js/bundle.js"></script>
</body>
</html>

<!-- contact:
  mail: "mailto:hello@thomasvanarkel.nl"
  twitter: "https://twitter.com/thvanarkel"
  linkedin: "https://nl.linkedin.com/in/thomas-van-arkel-01384468"
  github: "https://github.com/thvanarkel"
  vimeo: "https://vimeo.com/user43488666" -->
