{{ define "main" }}

<main aria-role="main" data-barba="container" data-barba-namespace="project">
    <div class="project-intro">
      <div class="title">
        <h1>{{ .Title }}</h1>
        {{ with .Params.subtitle }}<h2>{{ . }}</h2>{{ end }}
      </div>
      <ul class="project-details">
        {{ with .Params.timespan }}<li><span>timespan</span><span>{{ . }}</li>{{ end }}
        <li><span>capability</span><span>{{ range $i, $e := .Params.categories }}{{ if ne $i 0 }}<br>{{ end }}{{ . }}{{ end }}</span></li>
      </ul>
    </div>

    {{ with .Params.featured_image }}<img class="feature-image" src="{{ . }}">{{ end }}

  <!-- </div> -->


  {{ .Content }}
</main>

{{ end }}
