@font-face {
    font-family: 'Favorit';
    src: url('../fonts/Favorit-Light.eot');
    src: local('Favorit Light'), local('../fonts/Favorit-Light'),
        url('../fonts/Favorit-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Favorit-Light.woff2') format('woff2'),
        url('../fonts/Favorit-Light.woff') format('woff'),
        url('../fonts/Favorit-Light.ttf') format('truetype'),
        url('../fonts/Favorit-Light.svg#Favorit-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Para';
    src: url('../fonts/Para-LightCentral.eot');
    src: local('Para Light Central'), local('../fonts/Para-LightCentral'),
        url('../fonts/Para-LightCentral.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Para-LightCentral.woff2') format('woff2'),
        url('../fonts/Para-LightCentral.woff') format('woff'),
        url('../fonts/Para-LightCentral.ttf') format('truetype'),
        url('../fonts/Para-LightCentral.svg#Para-LightCentral') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
