@font-face {
    font-family: 'Favorit';
    src: url('../fonts/Favorit-Light.eot');
    src: local('Favorit Light'), local('../fonts/Favorit-Light'),
        url('../fonts/Favorit-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Favorit-Light.woff2') format('woff2'),
        url('../fonts/Favorit-Light.woff') format('woff'),
        url('../fonts/Favorit-Light.ttf') format('truetype'),
        url('../fonts/Favorit-Light.svg#../fonts/Favorit-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
