@font-face {
    font-family: 'Alliance';
    src: local('Alliance Text Regular'), local('Alliance-TextRegular'),
        url('../fonts/Alliance-TextRegular.woff2') format('woff2'),
        url('../fonts/Alliance-TextRegular.woff') format('woff'),
        url('../fonts/Alliance-TextRegular.ttf') format('truetype'),
        url('../fonts/Alliance-TextRegular.svg#Alliance-TextRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basel Grotesk';
    src: local('Basel Grotesk Bold'), local('BaselGrotesk-Bold'),
        url('../fonts/BaselGrotesk-Bold.woff2') format('woff2'),
        url('../fonts/BaselGrotesk-Bold.woff') format('woff'),
        url('../fonts/BaselGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basel Grotesk';
    src: local('Basel Grotesk Regular'), local('BaselGrotesk-Regular'),
        url('../fonts/BaselGrotesk-Regular.woff2') format('woff2'),
        url('../fonts/BaselGrotesk-Regular.woff') format('woff'),
        url('../fonts/BaselGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basel Grotesk';
    src: local('Basel Grotesk Regular Italic'), local('BaselGrotesk-RegularItalic'),
        url('../fonts/BaselGrotesk-RegularItalic.woff2') format('woff2'),
        url('../fonts/BaselGrotesk-RegularItalic.woff') format('woff'),
        url('../fonts/BaselGrotesk-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basel Grotesk';
    src: local('Basel Grotesk Bold Italic'), local('BaselGrotesk-BoldItalic'),
        url('../fonts/BaselGrotesk-BoldItalic.woff2') format('woff2'),
        url('../fonts/BaselGrotesk-BoldItalic.woff') format('woff'),
        url('../fonts/BaselGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basel Grotesk';
    src: local('Basel Grotesk Medium Italic'), local('BaselGrotesk-MediumItalic'),
        url('../fonts/BaselGrotesk-MediumItalic.woff2') format('woff2'),
        url('../fonts/BaselGrotesk-MediumItalic.woff') format('woff'),
        url('../fonts/BaselGrotesk-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basel Grotesk';
    src: local('Basel Grotesk Medium'), local('BaselGrotesk-Medium'),
        url('../fonts/BaselGrotesk-Medium.woff2') format('woff2'),
        url('../fonts/BaselGrotesk-Medium.woff') format('woff'),
        url('../fonts/BaselGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basel Grotesk';
    src: local('Basel Grotesk Light'), local('BaselGrotesk-Light'),
        url('../fonts/BaselGrotesk-Light.woff2') format('woff2'),
        url('../fonts/BaselGrotesk-Light.woff') format('woff'),
        url('../fonts/BaselGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basel Grotesk';
    src: local('Basel Grotesk Light Italic'), local('BaselGrotesk-LightItalic'),
        url('../fonts/BaselGrotesk-LightItalic.woff2') format('woff2'),
        url('../fonts/BaselGrotesk-LightItalic.woff') format('woff'),
        url('../fonts/BaselGrotesk-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
