/* NAVIGATION */

.site-header {
  //@include main-grid();
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / #{$num-columns + 1};
  @include breakpoint($xs) {
    grid-template-columns: 50% 50%;
    .logo {
      grid-column: 1 !important;
    }
    nav {
      grid-column: 2 !important;
    }
  }
  font-size: 1rem;
  border-bottom: 1px solid;
  .logo {
    grid-column: 1/#{$start-main};
  }
  nav {
    grid-column: #{$start-main}/#{$num-columns + 1};
    display: flex;
    justify-content: space-between;
  }
  a {
    // display: block;
    @include themed() { color: t($text); }
    text-decoration: none;
    // margin-right: 1rem;
  }
}

.site-nav {
  // display: flex;
  z-index: 200;
  // justify-content: space-between;
  padding-bottom: 25px;

  // display: grid;
  // grid-template-columns: repeat(12, minmax(0,1fr)); //repeat(auto-fit, minmax(15rem, 1fr));
  // gap: 0.5rem;//calc(12/1680 * 100vw);//2rem;

  // padding: 1rem;
  // background-color: #000;
  //color: #000;
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    @include breakpoint($xs) {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    li {
      padding-right: 25px;
    }
    .mobile-title {
      display: none;
      color: $grey;
      cursor: pointer;
      @include breakpoint($xs) {
        display: block;
      }
    }
  }
  .logo {
    grid-column: span 8
  }
  .darkmode {
    .darkmode-title {
      display: none;
      cursor: pointer;
      margin-right: 5px;
      @include breakpoint($xs) {
        margin-top: 15px;
        display: inline-block;
      }
    }
    #darkmode-toggle {
      display: inline-block;
      border-radius: 9999px;
      border: 2px solid;
      //border-color: #000;
      width: 12px;
      height: 12px;
      transform: translateY(1px);
      // justify-self: end;
    }
    &:hover {
      #darkmode-toggle {
        @include themed() {
          background-color: t($hover);
        }
      }
    }
  }
  &.collapsed {
    @include breakpoint($xs) {
      .nav-item {
        display: none;
      }
    }
  }
}

.site-nav a:hover {
  // border-bottom: 1px solid #fff;
}

.site-nav .logo {
  // font-weight: bold;
  padding-left: 0;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    &.active {
      a {color: $blue;}
    }
  }
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}
