{{ define "main" }}

<main aria-role="main" data-barba="container" data-barba-namespace="home">
  <header class="homepage-header">
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>
  <div class="homepage-content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
  </div>
  <div>
    {{ range ( where .Site.RegularPages "Type" "projects" | first 3 ) }}
      <div class="card">
        <a href="{{ .Permalink }}">
          <!-- {{ if .Params.featured_image }}<img src="{{ printf `%s%s` .Dir .Params.featured_image}}">{{ end }} -->
          <div class="card-image" style="background-image: url('{{ printf `%s%s` .Dir .Params.featured_image}}')"></div>
        </a>
      </div>
    {{end}}
  </div>
</main>

{{ end }}
